@charset "UTF-8";

body.main {
  background-color: #336699;
  font-family: 'Aclonica';
  font-size: 22px;
}

h1 {
  font-family: 'Aclonica';
  color: white;
  padding: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  font-family: 'Aclonica';
  float:right;
  border-left: 2px solid white;
}

li:first-child{
  border-left:none;
  border-right:none;
  color:white;
  padding:14px 16px;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
